@import '~bootstrap/scss/bootstrap.scss';

.sidebar {
    @extend .nav;
    @extend .flex-column;
    li {
        @extend .nav-item;
        a {
            @extend .nav-link;
            .sidebar-icon {
                font-size: 1.5em;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: rgba(141, 146, 147, 0.15);
                color: rgba(141, 146, 147, 0.45);
                transition: .2s ease-in-out .2s;
                @extend .my-0;
                @extend .mx-auto;
                @extend .d-flex;
                @extend .justify-content-center;
                @extend .align-items-center;
            }
            .label {
                color: rgba(141, 146, 147, 0.45);
                @extend .text-center;
            }

            .active-bg {
                background-color: rgba(41, 199, 95, 0.25);
            }

            .active-color {
                color: rgba(41, 199, 95, 0.75);
            }
        }

        a:hover .sidebar-icon, a.hover .sidebar-icon {
            font-size: 2em;
            transition: .2s ease-in-out .0s;
        }
    }
}
