@import '~bootstrap/scss/bootstrap.scss';

.user-card {
   //@extend .card;
   //width: 25rem;
   margin: 0;
   background-color: transparent;
   .user-card-body {
      @extend .card-body;
      @extend .d-flex;
      @extend .p-0;
      .user-avatar {
         @extend .d-flex;
         h6 {
            @extend .bg-light;
            @extend .font-weight-bold;
            @extend .my-auto;
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            font-size: 2rem;
         }
      }
   }
}
