.root-app {
   font-size: 1.4rem;
   height: 100vh;
   background-color: rgba(141, 146, 147, 0.15);
}

.left-sidebar {
  min-width: 12em;
}

.top-header {
  min-height: 5em;
}

.body-container {
   //height: 100%;
   //overflow-y: scroll;
}

.bg-white {
  background-color: white;
}
