.root-app {
   //height: 100%;
   //width: 100%;
}

.left-sidebar {
  min-width: 12em;
}

.top-header {
  min-height: 3rem;
}

.body-container {
   height: 400px!important;
   //overflow-y: scroll;
}

.bg-white {
  background-color: white;
}
