@import '~bootstrap/scss/bootstrap.scss';

.flex-fill-custom {
   flex:1;
}

.tableFixHead {
   overflow: auto;
   max-height: 500px;
}
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
//table  { border-collapse: collapse; width: 100%; }
//th, td { padding: 8px 16px; }
th     { background:#eee; }
